<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

<head>
    <title>Point Cloud Visualization</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            height: 100vh;
        }

        .left {
            flex: 2;
            background-color: #f1f1f1;
            padding: 20px;
        }

        .right {
            flex: 1;
            background-color: #e6e6e6;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-top: 0;
        }

        .green-button {
            display: block;
            margin: 20px auto;
            padding: 15px 30px;
            font-size: 18px;
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .blue-button {
            display: block;
            margin: 20px auto;
            padding: 15px 30px;
            font-size: 24px;
            background-color: #2a3ce1;
            color: white;
            border: none;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        #info-list,
        #info-list2 {
            list-style-type: none;
            padding: 0;
            margin: 10px 0;
            background-color: #f1f1f1;
            width: 100%;
        }

        #info-list li,
        #info-list2 li {
            padding: 30px;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            font-family: 'Nunito', sans-serif;
            border: 1px solid #ccc;
            margin-bottom: 5px;
            line-height: 1.5;
        }

        .highlight {
            color: green;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <button class="blue-button" id="leftTitle">cut preview with trajectory in 3D</button>
            <div id="viewer"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
        </div>
        <div class="right">
            <button class="blue-button" id="rightTitle">Additional</button>
            <ul id="info-list"></ul>
            <button id="auto-smooth" class="green-button">Auto-Smooth</button>
            <ul id="info-list2"></ul>
            <!-- <input type="color" id="color-picker" value="#867d76"> -->
            <input type="range" id="z-slider" min="-50" max="50" value="0">
            <span id="z-value">Cut Depth</span>
            <button id="generate-trajectory" class="green-button">Generate Trajectory</button>
        </div>
        <script>
            var scene = new THREE.Scene();
                var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
            var renderer = new THREE.WebGLRenderer();
                // renderer.setSize(1200, 600);
                renderer.setSize(document.getElementById("viewer").clientWidth, document.getElementById("viewer").clientWidth / 2);
                        // renderer.setPixelRatio(0.5);
                renderer.setClearColor(0xffffff);
            document.getElementById("viewer").appendChild(renderer.domElement);

            var controls = new THREE.OrbitControls(camera, renderer.domElement);
                var backendData = null;
                var cutColor = [0.525, 0.490, 0.462];
                var zOffset = 0;
                camera.position.z = 5;

                function render() {
                if (!backendData) return;

                // var wood_points = pointCloudData.wood_points;
                // var wood_colors = pointCloudData.wood_colors;
                // var cut_points = pointCloudData.cut_points;
                // var cut_colors = pointCloudData.cut_colors;
                var vertices = backendData.vertices;
                var triangles = backendData.triangles;
                var colors = backendData.colors;

                // for (var i = 0; i < cut_colors.length; i++) {
                //     cut_colors[i] = cutColor;
                // }

                // for (var i = 0; i < cut_points.length; i++) {
                //     cut_points[i][2] -= zOffset;
                // }

                var camPosition = camera.position.clone();
                var camRotation = camera.rotation.clone();

                scene.clear();

                vertices = new Float32Array(vertices.flat());
                indices = new Uint32Array(triangles.flat());
                colors = new Float32Array(colors.flat());


                const geometry = new THREE.BufferGeometry();
                geometry.setAttribute('position', new THREE.BufferAttribute(vertices, 3));
                geometry.setAttribute('color', new THREE.BufferAttribute(colors, 3));
                geometry.setIndex(new THREE.BufferAttribute(indices, 1));
                geometry.computeVertexNormals();

                const material = new THREE.MeshBasicMaterial({
                    vertexColors: THREE.VertexColors,
                    side: THREE.DoubleSide
                });
                const mesh = new THREE.Mesh(geometry, material);
                scene.add(mesh);

                // var wood_geometry = new THREE.BufferGeometry();
                // var wood_vertices = new Float32Array(wood_points.length * 3);
                // var wood_vertexColors = new Float32Array(wood_points.length * 3);

                // for (var i = 0; i < wood_points.length; i++) {
                //     wood_vertices[i * 3] = wood_points[i][0];
                //     wood_vertices[i * 3 + 1] = wood_points[i][1];
                //     wood_vertices[i * 3 + 2] = wood_points[i][2];

                //     wood_vertexColors[i * 3] = wood_colors[i][0];
                //     wood_vertexColors[i * 3 + 1] = wood_colors[i][1];
                //     wood_vertexColors[i * 3 + 2] = wood_colors[i][2];
                // }

                // wood_geometry.setAttribute('position', new THREE.BufferAttribute(wood_vertices, 3));
                // wood_geometry.setAttribute('color', new THREE.BufferAttribute(wood_vertexColors, 3));

                // var wood_material = new THREE.PointsMaterial({ size: 0.05, vertexColors: true });
                // var wood_pointCloud = new THREE.Points(wood_geometry, wood_material);
                // scene.add(wood_pointCloud);

                // var cut_geometry = new THREE.BufferGeometry();
                // var cut_vertices = new Float32Array(cut_points.length * 3);
                // var cut_vertexColors = new Float32Array(cut_points.length * 3);

                // for (var i = 0; i < cut_points.length; i++) {
                //     cut_vertices[i * 3] = cut_points[i][0];
                //     cut_vertices[i * 3 + 1] = cut_points[i][1];
                //     cut_vertices[i * 3 + 2] = cut_points[i][2] - zOffset;

                //     cut_vertexColors[i * 3] = cut_colors[i][0];
                //     cut_vertexColors[i * 3 + 1] = cut_colors[i][1];
                //     cut_vertexColors[i * 3 + 2] = cut_colors[i][2];
                // }

                // cut_geometry.setAttribute('position', new THREE.BufferAttribute(cut_vertices, 3));
                // cut_geometry.setAttribute('color', new THREE.BufferAttribute(cut_vertexColors, 3));

                // var cut_material = new THREE.PointsMaterial({ size: 0.05, vertexColors: true });
                // var cut_pointCloud = new THREE.Points(cut_geometry, cut_material);
                // scene.add(cut_pointCloud);

                camera.position.copy(camPosition);
                camera.rotation.copy(camRotation);

                controls.update();
                renderer.render(scene, camera);
            }

            function update(texts) {
                var HightLightList = ['Green', 'Gray', 'Circle', 'Triangle'];
                var infoList = document.getElementById('info-list');
                infoList.innerHTML = '';
                for (var i = 0; i < 1; i++) {
                    var li = document.createElement('li');
                    for (var j = 0; j < HightLightList.length; j++) {
                        if (texts[i].includes(HightLightList[j])) {
                            texts[i] = texts[i].replace(HightLightList[j], "<span style='color:gray;'>" + HightLightList[j] + "</span>");
                        }
                    }
                    li.innerHTML = texts[i];
                    infoList.appendChild(li);
                }
                var infoList2 = document.getElementById('info-list2');
                infoList2.innerHTML = '';
                for (var i = 1; i < texts.length; i++) {
                    var li = document.createElement('li');
                    for (var j = 0; j < HightLightList.length; j++) {
                        if (texts[i].includes(HightLightList[j])) {
                            texts[i] = texts[i].replace(HightLightList[j], "<span style='color:gray;'>" + HightLightList[j] + "</span>");
                        }
                    }
                    li.innerHTML = texts[i];
                    infoList2.appendChild(li);
                }
            }

            fetch('/data')
                .then(response => response.json())
                .then(data => {
                    backendData = data;
                    render();
                    update(data.texts);
                });

            document.getElementById('auto-smooth').addEventListener('click', function () {
                fetch('/auto-smooth', {
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(data => {
                        backendData = data;
                        render();
                    });
            });

                                                // document.getElementById('color-picker').addEventListener('input', function () {
                                                //     var hexColor = this.value;
                                                //     cutColor = [
                                                //         parseInt(hexColor.substr(1, 2), 16) / 255,
                                                //         parseInt(hexColor.substr(3, 2), 16) / 255,
                                                //         parseInt(hexColor.substr(5, 2), 16) / 255
                                                //     ];
                                                //     render();
                                                // });

                document.getElementById('z-slider').addEventListener('input', function () {
                    zOffset = parseFloat(this.value);
                    document.getElementById('z-value').textContent = zOffset;

                    fetch('/update-depth', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ zOffset: zOffset })
                    })
                        .then(response => response.json())
                        .then(data => {
                            backendData = data;
                            render();
                        });
            });

                var animate = function () {
                    requestAnimationFrame(animate);
                    controls.update();
                    renderer.render(scene, camera);
                };

                animate();
        </script>
    </div>
</body>

</html>